.form-group{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.add_circle_icon{
    font-size: 33px;
    margin-left: 20px;
    cursor: pointer;
    color: seagreen;
}